.footer {
    width: 100%;
    background-color: #f1f3f5;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #555;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    z-index: 1000;
  }